
venv/

# Ignora todos os arquivos dentro de data/raw/, mas mantém as pastas
data/raw/invoices/*
data/raw/extracted_text/*
data/raw/preprocessed_text/*
data/raw/processed/*

# Mas mantém as pastas vazias no Git
!data/raw/invoices/
!data/raw/extracted_text/
!data/raw/preprocessed_text/
!data/raw/processed/

.vscode/

__pycache__/
*.pyc
*.pyo
*.pyd

*.tmp
*.swp
*.swo
.DS_Store

.pytest_cache/

Thumbs.db
