
venv/


data/*
!data/
!data/raw/
!data/raw/invoices/
!data/raw/extracted_text/
!data/raw/preprocessed_text/
!data/raw/processed/


logs/
*.log

.vscode/

__pycache__/
*.pyc
*.pyo
*.pyd

*.tmp
*.swp
*.swo
.DS_Store

.pytest_cache/

Thumbs.db
